{% extends './_base.html' %}

{% block content %}

    <div class="p-3 space-for-nav">

        <h2 class="dws-blue">Change password</h2>

        <a href={% url 'account_settings' %}><i class="fa fa-arrow-left"></i> Back</a>

        <form action="{% url 'change_password' %}" method="POST">
            {% csrf_token %}
            <div class="input-pair">
                <label for="change-current-password">Type current password</label>
                <input type="password" name="change-current-password" id="change-current-password" />
            </div>
            <div class="input-pair">
                <label for="change-new-password">Type new password</label>
                <input type="password" name="change-new-password" id="change-new-password" />
            </div>
            <div class="input-pair">
                <label for="change-new-password-confirm">Confirm new password</label>
                <input type="password" name="change-new-password-confirm" id="change-new-password-confirm" />
            </div>
            <br />
            <button class="btn btn-primary">CHANGE PASSWORD</button>
        </form>

        {% if message %}
            <p>{{ message }}</p>
        {% endif %}

    </div>

{% endblock %}