{% extends './_base.html' %}

{% block content %}

    <div class="m-2">

        <h1><b>Confirm token and new password</b></h1>

        <form action="" method="POST">
            {% csrf_token %}
            <div class="input-pair">
                <label for="pass-reset-token">Insert token</label>
                <input type="text" name="pass-reset-token" id="pass-reset-token" />
            </div>
            <div class="input-pair">
                <label for="pass-reset-email">Email</label>
                <input type="email" name="pass-reset-email" id="pass-reset-email" />
            </div>
            <div class="input-pair">
                <label for="pass-reset-password">New password</label>
                <input type="password" name="pass-reset-password" id="pass-reset-password" />
            </div>
            <div class="input-pair">
                <label for="pass-reset-password-confirm">Confirm new password</label>
                <input type="password" name="pass-reset-password-confirm" id="pass-reset-password-confirm" />
            </div>
            <br />
            <button class="btn btn-primary">CHANGE PASSWORD</button>
        </form>

        {% if message %}
            <p>{{ message }}</p>
        {% endif %}

        {% if success_message %}
            <p>{{ success_message }}</p>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}

    </div>
    
{% endblock %}