{% extends './_base.html' %}

{% block content %}

    <div class="m-2">

        <h1><b>Reset password</b></h1>

        <p>Go back to login page <a href="{% url 'login' %}">Login</a></p>

        <form action="{% url 'request_reset_password' %}" method="POST">
            {% csrf_token %}
            <div class="input-pair">
                <label for="reset-email">Email</label>
                <input type="email" name="reset-email" id="reset-email" />
            </div>
            <br />
            <button class="btn btn-primary">REQUEST NEW PASSWORD</button>
        </form>

        {% if message %}
            <p>{{ message }}</p>
        {% endif %}

    </div>
    
{% endblock %}