{% extends '_base.html' %}

{% block content %}


    <nav class="space-for-nav px-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a style="color: #6c757d!important; pointer-events: none" href={% url 'shop:index' %}>Home</a></li>
    </ol>
    </nav>
        <div class="row m-3">
            {% for product_variant in product_variants %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    {% if product_variant.productvariantsize.stock == 0  %}
                    <div class="card index-card">
                        <div>
                            <img class="card-img-top img-fluid disabled" style="max-height: 20em; object-fit: cover;" src="{{ MEDIA_URL }} {{ product_variant.image.url }}" alt="Image of {{ product_variant.product.title }}">
                        </div>
                    {% else %}
                        <div class="card index-card">
                            <div>
                                <img class="card-img-top img-fluid" style="max-height: 20em; object-fit: cover;" src="{{ MEDIA_URL }} {{ product_variant.image.url }}" alt="Image of {{ product_variant.product.title }}">
                            </div>
                    {% endif %}
                            <div class="card-body text-center">
                                {% if product_variant.productvariantsize.stock == 0  %}
                                    <h5 class="card-title disabled">{{ product_variant.product.title }}</h5>
                                    <p class="card-text disabled">{{ product_variant.price }} kr.</p>
                                {% else %}
                                    <p class="card-title">{{ product_variant.product.title }}</p>
                                    <h4 class="card-text">{{ product_variant.price }} kr.</h4>
                                {% endif %}
                                <div class="text-center">
                                    {% if product_variant.productvariantsize.stock == 0  %}
                                        <p class="text-danger"><b>SOLD OUT</b></p>
                                    {% else %}
                                        <form action="{% url 'shop:product_detail' %}">
                                            <input type="hidden" value="{{ product_variant.product.id }}" name="product_id" />
                                            <input type="hidden" value="{{ product_variant.id }}" name="product_variant_id" />
                                            <button class="btn btn-primary">View product</button>
                                        </form>

                                        <div class="product-sizes">
                                            <div class="">
                                                {% for product_variant_size in product_variant_sizes %}
                                                    {% if product_variant_size.product_variant.id == product_variant.id %}
                                                        {% if product_variant_size.stock == 0 %}
                                                            <p class="m-2 sold-out">{{ product_variant_size.size }}</p>
                                                        {% else %}
                                                            <p class="m-2 dws-blue">{{ product_variant_size.size }}</p>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <form class="mt-1" action="{% url 'shop:add_to_wishlist' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{ product_variant.id }}" name="product_variant_id" />
                                            <button class="icon-btn"><i class="fa fa-heart dws-blue"></i></button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>´
                    </div>
                {% endfor %}
                </div>
            </div>
{% endblock %}