{% extends '_base.html' %}

{% block content %}

    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href={% url 'shop:index' %}>Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
    </ol>
    </nav>

    <div class="row mt-5">
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid rounded mx-auto d-block" src="{{ MEDIA_URL }} {{ product_variant.image.url }}" alt="{{ product.title }}" />
        </div>
        <div class="col-md-6 col-sm-12">
            <h6>{{ product.category }}</h6>
            <h1>{{ product.title }}</h1>
            <div class="product-desc mt-3">
                <p>{{ product.description }}</p>
            </div>
            <div class="product-attributes mt-5">
                {% for product_attribute in product_attributes %}
                    <p><b>{{ product_attribute.attribute }}</b>: {{ product_attribute.value }}</p>
                {% endfor %}
            </div>

            <div class="product-variants-container">
                <div class="d-flex">
                {% for product_other_variant in product_other_variants %}
                    {% if product_variant.id is not product_other_variant.id %}
                        <div class="card m-1 w-25 text-center">
                            <form action="{% url 'shop:product_detail' %}">
                                <input type="hidden" value="{{ product.id }}" name="product_id" />
                                <input type="hidden" value="{{ product_other_variant.id }}" name="product_variant_id" />
                                <button>
                                    <img class="img-fluid" src="{{ MEIDA_URL }}{{ product_other_variant.image.url }}">{{product_other_variant.}}</img>
                                    <p>{{ product_other_variant.price }}</p>
                                </button>
                            </form>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>

            <div class="product-buttons mt-5">

                <form action="{% url 'shop:add_to_cart' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ product_variant.id }}" name="product_variant_id" />
                        {% if quantity %}
                            <label for="quantity">Quantity</label>
                            <select id="quantity" name="quantity">
                                {% for i in quantity %}
                                    <option>{{ i }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    <h4 class="my-3"><b>{{ product_variant.price }} kr.</b></h4>
                    {% if quantity %}
                        <button class="btn btn-primary">Add to cart</button>
                    {% else %}
                        <p class="text-danger">Not available at the moment</p>
                    {% endif %}
                </form>

                {% if user.is_authenticated %}
                    <button class="btn btn-secondary">+ Wishlist</button>
                {% endif %}
            </div>
        </div>



    </div>


{% endblock %}