{% extends '_base.html' %}

{% block content %}

    <nav class="space-for-nav px-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href={% url 'shop:index' %}>Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ product_variant.product.title }}</li>
    </ol>
    </nav>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid rounded mx-auto p-4 d-block" src="{{ MEDIA_URL }} {{ product_variant.image.url }}" alt="{{ product_variant.product.title }}" />
        </div>
        <div class="col-md-6 col-sm-12 p-4">
            <h6 class="dws-blue">{{ product_variant.product.category }}</h6>
            <h1>{{ product_variant.product.title }}</h1>
            <div class="product-desc mt-3">
                <p>{{ product_variant.product.description }}</p>
            </div>
            <div class="product-attributes mt-4">
                {% for product_attribute in product_attributes %}
                    <p><b>{{ product_attribute.attribute }}</b>: {{ product_attribute.value }}</p>
                {% endfor %}
            </div>
            <div class="dws-line"></div>
            <div class="product-variants-container mt-3">
                <p class="very-small-text"><i>Other variants</i></p>
                <div class="d-flex">
                    {% for product_other_variant in product_other_variants %}
                        {% if product_variant.id is not product_other_variant.id %}
                            <div class="card product-variant-card m-1 w-25 text-center">
                                <form action="{% url 'shop:product_detail' %}">
                                    <input type="hidden" value="{{ product_other_variant.product.id }}" name="product_id" />
                                    <input type="hidden" value="{{ product_other_variant.id }}" name="product_variant_id" />
                                    <button class="icon-btn">
                                        {% if product_other_variant.stock == 0 %}
                                            <img class="img-fluid disabled" src="{{ MEIDA_URL }}{{ product_other_variant.image.url }}">{{product_other_variant.}}</img>
                                            <p class="text-danger very-small-text"><b>SOLD OUT</b></p>
                                        {% else %}
                                            <img class="img-fluid" src="{{ MEIDA_URL }}{{ product_other_variant.image.url }}">{{product_other_variant.}}</img>
                                            <p class="very-small-text">{{ product_other_variant.price }} kr.</p>
                                        {% endif %}
                                    </button>
                                </form>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <p class="very-small-text">Select size</p>
                    <div class="d-flex">
                        {% for product_size in product_sizes %}
                            {% if product_size == selected_size %}
                                <div class="m-2 p-2 border pressed">{{ product_size.size }}</div>
                            {% elif product_size.stock == 0 %}
                                <div class="m-2 p-2 border sold-out-singlepage">{{ product_size.size }}</div>
                            {% else %} 
                            <div>
                                <form action="{% url 'shop:product_detail' %}">
                                    <input type="hidden" value="{{ product_size.product_variant.product.id }}" name="product_id" />
                                    <input type="hidden" value="{{ product_size.product_variant.id }}" name="product_variant_id" />
                                    <input type="hidden" value="{{ product_size.size.id }}" name="product_variant_size" />
                                    <button class="m-2 p-2 border pointer">
                                        {{ product_size.size }}
                                    </button>
                                </form>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
            </div>
            <div class="dws-line mt-3"></div>

            <div class="product-buttons mt-3">

                <form action="{% url 'shop:add_to_cart' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ product_variant.id }}" name="product_variant_id" />
                    <input type="hidden" value="{{ request.GET.product_variant_size }}" name="product_variant_size" />
                        {% if quantity %}
                              <div class="form-group w-25">
                                    <label for="quantity">Quantity </label>
                                    <select class="form-control" id="quantity" name="quantity">
                                    {% for i in quantity %}
                                        <option>{{ i }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                        {% endif %}
                    <h3 class="my-3"><b>{{ product_variant.price }} kr.</b></h3>
                    {% if quantity %}
                        {% if user.is_authenticated %}
                            <button class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                            <button class="icon-btn"><i class="fa fa-heart dws-blue"></i></button>
                        {% else %}
                            <p><i class="fa fa-exclamation-circle"></i> You need to be logged in to add this product to your <u>cart</u> and <u>wishlist</u>!</p>
                        {% endif %}
                    {% else %}
                        <p class="text-danger"><i>Not available at the moment</i></p>
                    {% endif %}
                </form>
            </div>
        </div>



    </div>


{% endblock %}