{% extends '_base.html' %}

{% block content %}

        <nav class="space-for-nav px-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href={% url 'shop:index' %}>Home</a></li>
            <li class="breadcrumb-item active"><a style="color: #6c757d!important; pointer-events: none" href={% url 'shop:index' %}>Search</a></li>
        </ol>
        </nav>

    <div class="m-3 px-3">
        <h1 class="dws-blue">Search</h1>
        <p>Having trouble finding the items you want? Do a quick search!</p>
        <div class="dws-line my-3"></div>
            <form class="row px-3" action="{% url 'shop:search' %}" method="POST">
                {% csrf_token %}
                {% for attribute in attributes %}
                    <div class="form-group w-25 p-1">
                        <label for="{{ attribute.attribute }}">{{ attribute.attribute }} </label>
                        <select id="{{ attribute.attribute }}" class="form-control" name="{{ attribute.id }}">
                            <option></option>
                            {% for value in values %}
                                {% if value.attribute == attribute.id %}
                                    <option value="{{ value.value }}">{{ value.value }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
                <div class="text-center w-100">
                <button class="btn btn-primary m-5"><i class="fa fa-search"></i> Search</button>
                </div>
            </form>
        <div class="search-results-container row">
            {% if product_variants %}
                <div class="col-12"><p class="very-small-text">Result: <b>{{ product_variants|length }}</b></div>
                {% for product_variant in product_variants %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        {% if product_variant.stock == 0  %}
                        <div class="card index-card">
                            <div>
                                <img class="card-img-top img-fluid disabled" style="max-height: 20em; object-fit: cover;" src="{{ MEDIA_URL }} {{ product_variant.image.url }}" alt="Image of {{ product_variant.product.title }}">
                            </div>
                        {% else %}
                            <div class="card index-card">
                                <div>
                                    <img class="card-img-top img-fluid" style="max-height: 20em; object-fit: cover;" src="{{ MEDIA_URL }} {{ product_variant.image.url }}" alt="Image of {{ product_variant.product.title }}">
                                </div>
                        {% endif %}
                                <div class="card-body text-center">
                                    {% if product_variant.stock == 0  %}
                                        <h5 class="card-title disabled">{{ product_variant.product.title }}</h5>
                                        <p class="card-text disabled">{{ product_variant.price }} kr.</p>
                                    {% else %}
                                        <p class="card-title">{{ product_variant.product.title }}</p>
                                        <h4 class="card-text">{{ product_variant.price }} kr.</h4>
                                    {% endif %}
                                    <div class="text-center">
                                        {% if product_variant.stock == 0  %}
                                            <p class="text-danger"><b>SOLD OUT</b></p>
                                        {% else %}
                                            <form action="{% url 'shop:product_detail' %}">
                                                <input type="hidden" value="{{ product_variant.product.id }}" name="product_id" />
                                                <input type="hidden" value="{{ product_variant.id }}" name="product_variant_id" />
                                                <button class="btn btn-primary">View product</button>
                                            </form>
                                            <form class="mt-1" action="{% url 'shop:add_to_wishlist' %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{ product_variant.id }}" name="product_variant_id" />
                                                <button class="icon-btn"><i class="fa fa-heart dws-blue"></i></button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>´
                        </div>
                    {% endfor %}
                    </div>
            {% endif %}
        </div>
        

    </div>

{% endblock %}