{% extends '_base.html' %}

{% block content %}

    <div class="m-3">
        <h1>Search page</h1>
        <p>Having trouble finding the items you want? Do a quick search!</p>

        <form action="{% url 'shop:search' %}" method="POST">
            {% csrf_token %}
            {% for attribute in attributes %}

            <div class="input-pair">
                <label for="{{ attribute.attribute }}">{{ attribute.attribute }}</label>
                    <select id="{{ attribute.attribute }}" name="{{ attribute.id }}">
                        <option></option>
                    {% for value in values %}
                        {% if value.attribute == attribute.id %}
                            <option value="{{ value.value }}">{{ value.value }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
            </div>
            {% endfor %}
            <div class="mt-2">
            <button>Search</button>
            </div>
        </form>

        <hr />

        <div class="search-results-container row">
            {% if product_variants %}
                {% for product_variant in product_variants %}
                        <div class="card col-lg-3 col-md-4 col-sm-6 col-xs-12 p-5">
                    {% if product_variant.stock == 0  %}
                            <img class="card-img-top img-fluid disabled" src="{{ MEDIA_URL }} {{ product_variant.image.url }}" alt="Image of {{ product_variant.product.title }}">
                    {% else %}
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }} {{ product_variant.image.url }}" alt="Image of {{ product_variant.product.title }}">
                    {% endif %}
                            <div class="card-body text-center">
                                {% if product_variant.stock == 0  %}
                                    <h5 class="card-title disabled">{{ product_variant.product.title }}</h5>
                                    <p class="card-text disabled">{{ product_variant.price }} kr.</p>
                                {% else %}
                                    <h5 class="card-title">{{ product_variant.product.title }}</h5>
                                    <p class="card-text">{{ product_variant.price }} kr.</p>
                                {% endif %}
                                <div class="text-center">
                                    {% if product_variant.stock == 0  %}
                                        <h2 class="text-danger">SOLD OUT</h2>
                                    {% else %}
                                        <form action="{% url 'shop:product_detail' %}">
                                            <input type="hidden" value="{{ product_variant.product.id }}" name="product_id" />
                                            <input type="hidden" value="{{ product_variant.id }}" name="product_variant_id" />
                                            <button class="btn btn-secondary">See more</button>
                                        </form>
                                        <form class="mt-1" action="{% url 'shop:add_to_wishlist' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{ product_variant.id }}" name="product_variant_id" />
                                            <button class="btn btn-primary">Add to wishlist</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        

    </div>

{% endblock %}