{% extends '_base.html' %}

{% block content %}

    <div class="px-5 py-2 space-for-nav">
        <h1 class="dws-blue">Wishlist <i class="fa fa-gift"></i></h1>

        <div class="row mt-4">
            {% for product_variant in product_variants %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        {% if product_variant.stock == 0  %}
                        <div class="card index-card">
                            <div class="text-center">
                                    <form class="mt-1" action="{% url 'shop:remove_from_wishlist' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ product_variant.id }}" name="product_variant_id" />
                                        <button class="icon-btn text-danger"><p class="very-small-text"><i class="fa fa-times"></i> Remove</p></button>
                                    </form>
                                <img class="card-img-top img-fluid disabled" style="max-height: 20em; object-fit: cover;" src="{{ MEDIA_URL }} {{ product_variant.image.url }}" alt="Image of {{ product_variant.product.title }}">
                            </div>
                        {% else %}
                            <div class="card index-card">
                                <div class="text-center">
                                    <form class="mt-1" action="{% url 'shop:remove_from_wishlist' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ product_variant.id }}" name="product_variant_id" />
                                        <button class="icon-btn text-danger"><p class="very-small-text"><i class="fa fa-times"></i> Remove</p></button>
                                    </form>
                                    <img class="card-img-top img-fluid" style="max-height: 20em; object-fit: cover;" src="{{ MEDIA_URL }} {{ product_variant.image.url }}" alt="Image of {{ product_variant.product.title }}">
                                </div>
                        {% endif %}
                                <div class="card-body text-center">
                                    {% if product_variant.stock == 0  %}
                                        <h5 class="card-title disabled">{{ product_variant.product.title }}</h5>
                                        <p class="card-text disabled">{{ product_variant.price }} kr.</p>
                                    {% else %}
                                        <p class="card-title">{{ product_variant.product.title }}</p>
                                        <h4 class="card-text">{{ product_variant.price }} kr.</h4>
                                    {% endif %}
                                    <div class="text-center">
                                        {% if product_variant.stock == 0  %}
                                            <p class="text-danger"><b>SOLD OUT</b></p>
                                        {% else %}
                                            <form action="{% url 'shop:product_detail' %}">
                                                <input type="hidden" value="{{ product_variant.product.id }}" name="product_id" />
                                                <input type="hidden" value="{{ product_variant.id }}" name="product_variant_id" />
                                                <button class="btn btn-primary">View product</button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>´
                        </div>
                    {% endfor %}
                    </div>
        </div>
    </div>

{% endblock %}