{% extends '_base.html' %}

{% block content %}

    <div class="p-3 space-for-nav">
        <h1 class="dws-blue">Sale overview</h1>
        <div class="dws-line w-100 my-3"></div>
        <div class="m-4">
            <h4 class="px-2 dws-blue">Sales overview</h4>
            <p class="large-text"><i>Total orders:</i><b> {{ total_invoices }} </b></p>
            <p class="large-text"><i>Total revenue:</i><span class="text-success"><b> {{ total_revenue.sum|floatformat:2 }} kr.</b></span></p>
        </div>
        <br />
        <div class="m-4">
            <h4 class="px-2 dws-blue">Top 3 best selling products</h4>
                {% for best_seller_product in best_seller_products %}
                    {% for product in best_seller_product.product %}
                    <div class="d-flex p-3 my-3 border">
                        <img class="small-img" src="{{ MEDIA_URL }} {{ product.image.url }}" />
                        <div class="mx-2 pl-3">
                            <p><b>{{ product.product.title }}</b></p>
                            <p><span><b>{{ best_seller_product.count }}</b></span> units sold</p>
                        </div>
                        <div class="mx-2 text-center border-left pl-3">
                            <p>Total revenue from this product:</p>
                            <p class="text-success"><b>{{ best_seller_product.total }} kr.</b></p>
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
        </div>
        <br />
        <div class="m-4">
            <h4 class="px-2 dws-blue">Items that has sold out</h4>
            {% for sold_out_product_variant in sold_out_product_variants %}
                <div class="d-flex p-3 my-3 border">
                    <p class="p-3"><b>{{ sold_out_product_variant.product_variant.product.title }}</b> (<span>{{ sold_out_product_variant.size }}</span>)</p>
                    <img class="small-img img-fluid" src="{{ MEDIA_URL }} {{ sold_out_product_variant.product_variant.image.url }}" />
                    <div class="mx-2 pl-3">
                        <p class="p-3"><b>{{ sold_out_product_variant.stock }}</b> units left</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}