{% extends '_base.html' %}

{% block content %}

    <div class="space-for-nav px-3">
        <h1 class="mx-4 my-5 dws-blue">Cart <i class="fa fa-shopping-cart"></i></h1>
        {% for cart_product in cart_products %}
            {% for product_variant in product_variants %}
                {% if cart_product == product_variant.id %}
                    <div class="row  py-2">
                        <div class="col-2">
                            <form action="{% url 'shop:product_detail' %}">
                                <input type="hidden" value="{{ product_variant.product.id }}" name="product_id" />
                                <input type="hidden" value="{{ product_variant.id }}" name="product_variant_id" />
                                <button class="icon-btn">
                                <img class="small-img" src="{{ MEDIA_URL }}{{ product_variant.image.url }}" alt="Image of {{ product_variant.product.title }}">
                                </button>
                            </form>
                        </div>
                        <div class="col-4 h-100">
                            <h5 class="align-middle">{{ product_variant.product.title }}</h5>
                            <p>{{ product_variant.price }} kr.</p>
                        </div>
                        {% for cart_product_quantity in cart_product_quantities %}
                            {% if cart_product_quantity.product_variant_id == cart_product %}
                                <div class="col-3 py-3 d-flex h-100">
                                    <form action="{% url 'shop:increase_quantity' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ cart_product_quantity.product_variant_id }}" name="product_variant_id">
                                        <button class="icon-btn large-text"><b>+</b></button>
                                    </form>

                                    <p class="mx-2 my-1">Qty: <b>{{ cart_product_quantity.quantity }}</b></p>

                                    <form action="{% url 'shop:decrease_quantity' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ cart_product_quantity.product_variant_id }}" name="product_variant_id">
                                        <button class="icon-btn large-text"><b>-</b></button>
                                    </form>

                                    <form action="{% url 'shop:remove_product_from_cart' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ cart_product_quantity.product_variant_id }}" name="product_variant_id">
                                        <button class="icon-btn text-danger my-2 mx-3"><p class="very-small-text">Remove</p></button>
                                    </form>
                                </div>
                                <div class="col-3 py-3 text-right px-5">
                                    <p><span class="very-small-text mx-1">Total</span>  {{ cart_product_quantity.total }} kr.</p>
                                </div>
                                <div class="dws-line mx-5 w-100"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <div class="m-3">
            <p class="large-text text-right">Total: <b>{{ cart_total }} kr.</b></p>
        </div>
        <div class="m-3">
            {% if cart_total > 0 %}
                <div class="check-out-wrapper text-right">
                    <form action="{% url 'shop:checkout' %}">
                        {% csrf_token %}
                        <button class="btn btn-primary">Next</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}