{% extends '_base.html' %}

{% block content %}

    <div class="space-for-nav p-4">
        <h1 class="mx-4 dws-blue">Checkout <i class="fa fa-check"></i></h1>
        <a class="icon-btn dws-blue mx-4" href="{% url 'shop:checkout' %}"><i class="fa fa-arrow-left"></i> Back to order details</a>
            <table class="table">
            <thead>
                <tr>
                <th scope="col">Product</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
        {% for cart_product in cart_products %}
                <tr>
                <td><img class="small-img" src="{{ MEDIA_URL }} {{ cart_product.product_variant.image.url }}" /></td>
                <td>{{ cart_product.product_variant.product.title }}</td>
                <td>{{ cart_product.product_variant.price }} kr.</td>
                <td>{{ cart_product.quantity }}</td>
                <td>{{ cart_product.total }}</td>
                </tr>
        {% endfor %}
            </tbody>
            </table>
        <div class="confirm-container px-5 row">
            <div class="col-4 p-5">
                <h4>Delivery information</h4>
                <p><i>Name:</i> {{ user_profile.first_name }} {{ user_profile.last_name }}</p>
                <p><i>Address:</i> {{ user_profile.address }} {{ user_profile.city }}, {{ user_profile.country }}</p>
                <p><i>Phone:</i> {{ user_profile.phone }}</p>
            </div>
            <div class="col-4 p-5">
                <h4>Shipping information</h4>
                {% if shipping.id == 2 %}
                    <p>Shipping method: <b>{{ shipping }}</b> to <b>{{ user_profile.address }}</b></p>
                {% else %}
                    <p>Shipping method: <b>{{ shipping }}</b> to <b>the shop neareast you</b></p>
                {% endif %}
            </div>
            <div class="col-4 p-3 text-right border">
                <h2>Order total</h2>
                <p class="my-3">Cart: <b>{{ cart_total }} kr.</b></p>
                <p class="my-3">+ Shipping: <b>{{ shipping.price }} kr.</b></p>
                <div class="dws-line w-100 my-2"></div>
                <p class="large-text">Total price: <b>{{ cart_total|add:shipping.price }} kr.</b></p>
                <div class="dws-line w-100 my-2"></div>
                <p>We will send a confirmation mail to <i><u>{{ user.email }}</u></i></p>
                <form action="{% url 'shop:confirmation' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="confirm_address" value="{{ user_profile.address }}" />
                    <input type="hidden" name="confirm_city" value="{{ user_profile.city }}" />
                    <input type="hidden" name="confirm_country" value="{{ user_profile.country }}" />
                    <input type="hidden" name="confirm_shipping_method" value="{{ shipping.id }}" />
                    <input type="hidden" name="confirm_email" value="{{ user.email }}" />
                    <button class="btn btn-primary">PLACE ORDER <i class="fa fa-check"></i></button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}