.disabled {
    filter: grayscale(.5);
    opacity: .3;
    pointer-events: none;
}

.order-confirm-wrapper img, .small-img {
    max-width: 60px;
}

.very-small-img {
    max-width: 30px;
}

.large-text {
    font-size: 28px;
    font-weight: 400;
}